<form action="/categories/add" method="POST" >
  <div class="form-group">
   <td><label class="form-label" for="category">Category</label></td>
            <td><input autofocus class="form-control" id="category" type="text" name="category"/><br/></td>
  </div>

  
  <hr>
  <button type="submit" value="submit" class="btn btn-primary">Add Category</button>
  </form>
