<<<<<<< HEAD
<form action="/posts/add" method="POST" enctype="multipart/form-data">
  <input type="file" id="myFile" name="featureImage">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" name="title" id="title">
  </div>
  <div class="form-group">
    <label for="body">Body:</label>
    <textarea type="body" name="body" class="form-control" id="body"></textarea>
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <select name="category" id="category" class="form-select">
      <option value="1">Technology</option>
      <option value="1">Gaming</option>
      <option value="1">Fashion</option>
      <option value="1">Education</option>
      <option value="1">Wellness</option>
    </select>
  </div>
  <div class="form-check">
    <label class="form-label" for="visibility">Visibility</label>
    <input class="form-check-input" type="checkbox">
    <label class="form-check-label">Published</label>

  </div>
  <hr>
  <button type="submit" value="submit" class="btn btn-primary">Add Post</button>
</form>
=======


    <form action="/posts/add" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="featureImage">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="title" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="body">Body:</label>
          <textarea type="body" class="form-control" id="body"></textarea>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select name="category" id="category" class="form-select">
                <option value="1">Technology</option>
                <option value="1">Gaming</option>
                <option value="1">Fashion</option>
                <option value="1">Education</option>
                <option value="1">Wellness</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-label" for="visibility">Visibility</label>
            <input class="form-check-input" type="checkbox">
            <label  class="form-check-label">Published</label>

        </div>
        <hr>
        <button type="submit" value="submit" class="btn btn-primary">Add Post</button>
      </form>
>>>>>>> b80de2ba082bd9e507630e27f60aa0635ffd8e65
