{{#if errorMessage}}
<div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>

{{/if}}

{{#if successMessage}}
<div class="alert alert-danger"> <strong>Success:</strong> {{successMessage}}</div>
{{else}}
<form action="/register" method="POST">
    <div class="form-group">
        <td><label class="form-label" for="username">User Name</label></td>
        <td><input autofocus class="form-control" id="username" required type="text" name="userName"
                placeholder="User Name" /><br /></td>
    </div>

    <div class="form-group">
        <td><label class="form-label" for="password">Password</label></td>
        <td><input autofocus class="form-control" id="password" required type="password" name="password"
                placeholder="Password" /><br /></td>
    </div>

    <div class="form-group">
        <td><label class="form-label" for="password">Confirm Password</label></td>
        <td><input autofocus class="form-control" id="password" required type="password" name="password2"
                placeholder="Confirm Password" /><br /></td>
    </div>

    <div class="form-group">
        <td><label class="form-label" for="email">Email</label></td>
        <td><input autofocus class="form-control" id="email" required type="email" name="email"
                placeholder="Email Address" /><br /></td>
    </div>

    <hr>
    <button type="submit" value="Register" class="btn btn-primary">Register</button>
</form>
{{/if}}